
<html lang="en" translate="no" data-dpr="1" dir="ltr" style="font-size: 54px;">

<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/svg+xml"
		href="https://ossimg.envyenvelope.com/daman/other/h5setting_20230808033047vpbk.ico">
	<meta name="google" content="notranslate">
	<meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Welcome to Daman Games</title>

	<link rel="stylesheet" href="https://damangames.in/assets/css/index-81182a07.css">
	<link rel="stylesheet" href="https://damangames.in/assets/css/page-home-46c4cea2.css">
	<link rel="stylesheet" href="https://damangames.in/assets/css/page-activity-f055ffdc.css">
	<link rel="stylesheet" href="https://damangames.in/assets/css/modules-8b01ca49.css">
	<link rel="stylesheet" href="https://damangames.in/assets/css/reset-c9b8f171.css">
	
	<style>
		html,
		body {
		  height: 100%;
		  width: 100%;
		  /* background-color: #9195a3; */
		  padding: 0;
		  margin: 0;
		}

	  </style>
</head>

<body style="font-size: 12px;">

	<div id="app" data-v-app="">

		<div class="content-daman content" style="--76181987: 'Roboto', 'Inter', sans-serif;">
			<div data-v-2d3dc984="" class="navbar">
				<div data-v-2d3dc984="" class="navbar-fixed" style="background: rgb(247, 248, 255);">
					<div data-v-2d3dc984="" class="navbar__content">
						<div data-v-2d3dc984="" class="navbar__content-left"><img src="/assets/logo1.jpg" width="70px" alt=""></div>
						<div data-v-2d3dc984="" class="navbar__content-center"><!---->
							<div data-v-2d3dc984="" class="navbar__content-title"></div>
						</div>
						<div data-v-2d3dc984="" class="navbar__content-right">
							<div class="content-daman__right">
								<div class="nav-btn login-btn" onclick="window.location='/login'">Log in</div>
								<div class="nav-btn register-btn"  onclick="window.location='/register'">Register</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div data-v-bf3ba40a="" class="swiper swiper-initialized swiper-horizontal swiper-pointer-events my-swipe">
				<div class="swiper-wrapper"
					>
					<div class="swiper-slide swiper-slide-duplicate mySlides" data-swiper-slide-index="9"
						style=" margin-right: 20px;"><img data-v-bf3ba40a="" class=""
							data-origin="https://ossimg.envyenvelope.com/daman/banner/Banner_20231202231145ivgs.jpg"
							src="https://ossimg.envyenvelope.com/daman/banner/Banner_20231202231145ivgs.jpg"></div>
					<div data-v-bf3ba40a="" class="swiper-slide mySlides" data-swiper-slide-index="0"
						style="margin-right: 20px;"><img data-v-bf3ba40a="" class=""
							data-origin="https://ossimg.envyenvelope.com/daman/banner/Banner_20231021124415wjus.png"
							src="https://ossimg.envyenvelope.com/daman/banner/Banner_20231021124415wjus.png"></div>
					<div data-v-bf3ba40a="" class="swiper-slide mySlides" data-swiper-slide-index="1"
						style=" margin-right: 20px;"><img data-v-bf3ba40a="" class=""
							data-origin="https://ossimg.envyenvelope.com/daman/banner/Banner_20231103194438bsfx.png"
							src="https://ossimg.envyenvelope.com/daman/banner/Banner_20231103194438bsfx.png"></div>
					 <div data-v-bf3ba40a="" class="swiper-slide mySlides" data-swiper-slide-index="2"
						style=" margin-right: 20px;"><img data-v-bf3ba40a="" class=""
							data-origin="https://ossimg.envyenvelope.com/daman/banner/Banner_202305270515371rsv.png"
							src="https://ossimg.envyenvelope.com/daman/banner/Banner_202305270515371rsv.png"></div>
					<div data-v-bf3ba40a="" class="swiper-slide mySlides" data-swiper-slide-index="3"
						style=" margin-right: 20px;"><img data-v-bf3ba40a="" class=""
							data-origin="https://ossimg.envyenvelope.com/daman/banner/Banner_20230306180818gxxn.png"
							src="https://ossimg.envyenvelope.com/daman/banner/Banner_20230306180818gxxn.png"></div>
					<div data-v-bf3ba40a="" class="swiper-slide swiper-slide-prev mySlides" data-swiper-slide-index="4"
						style=" margin-right: 20px;"><img data-v-bf3ba40a="" class=""
							data-origin="https://ossimg.envyenvelope.com/daman/banner/Banner_20230325203153yb5d.png"
							src="https://ossimg.envyenvelope.com/daman/banner/Banner_20230325203153yb5d.png"></div>
					<div data-v-bf3ba40a="" class="swiper-slide swiper-slide-active mySlides" data-swiper-slide-index="5"
						style=" margin-right: 20px;"><img data-v-bf3ba40a="" class=""
							data-origin="https://ossimg.envyenvelope.com/daman/banner/Banner_20230306180901ggp9.png"
							src="https://ossimg.envyenvelope.com/daman/banner/Banner_20230306180901ggp9.png"></div>
					<div data-v-bf3ba40a="" class=" swiper-slide mySlides" data-swiper-slide-index="6"
						style=" margin-right: 20px;"><img data-v-bf3ba40a="" class=""
							data-origin="https://ossimg.envyenvelope.com/daman/banner/Banner_202303252030007bhh.png"
							src="https://ossimg.envyenvelope.com/daman/banner/Banner_202303252030007bhh.png"></div>
					<div data-v-bf3ba40a="" class="swiper-slide mySlides" data-swiper-slide-index="7"
						style=" margin-right: 20px;"><img data-v-bf3ba40a="" class=""
							data-origin="https://ossimg.envyenvelope.com/daman/banner/Banner_202306171745591wi2.jpg"
							src="https://ossimg.envyenvelope.com/daman/banner/Banner_202306171745591wi2.jpg"></div>
					<div data-v-bf3ba40a="" class="swiper-slide mySlides" data-swiper-slide-index="8"
						style=" margin-right: 20px;"><img data-v-bf3ba40a="" class=""
							data-origin="https://ossimg.envyenvelope.com/daman/banner/Banner_20230325203044r16y.png"
							src="https://ossimg.envyenvelope.com/daman/banner/Banner_20230325203044r16y.png"></div>
					<div data-v-bf3ba40a="" class="swiper-slide mySlides" data-swiper-slide-index="9"
						style=" margin-right: 20px;"><img data-v-bf3ba40a="" class=""
							data-origin="https://ossimg.envyenvelope.com/daman/banner/Banner_20231202231145ivgs.jpg"
							src="https://ossimg.envyenvelope.com/daman/banner/Banner_20231202231145ivgs.jpg"></div>
					<div class="swiper-slide mySlides" data-swiper-slide-index="0"
						style=" margin-right: 20px;"><img data-v-bf3ba40a="" class=""
							data-origin="https://ossimg.envyenvelope.com/daman/banner/Banner_20231021124415wjus.png"
							src="https://ossimg.envyenvelope.com/daman/banner/Banner_20231021124415wjus.png"></div>
							<div style="text-align:center">
								<span class="dot"></span>
								<span class="dot"></span>
								<span class="dot"></span>
								 <span class="dot"></span>
								<span class="dot"></span>
								<span class="dot"></span><span class="dot"></span>
								<span class="dot"></span>
								<span class="dot"></span>
								 <span class="dot"></span>
								<span class="dot"></span>
								<span class="dot"></span>
							  </div>
				</div>
			</div>



			<div data-v-25614c07="" class="notice-domain"><span data-v-0ea08bd2="" data-v-25614c07="" class="cms-icon"
					style="font-size: 24px;"><svg data-v-0ea08bd2="" aria-hidden="true">
						<use data-v-0ea08bd2="" href="#cms-icon-voice" fill="#F84948"></use>
					</svg></span>
				<div data-v-25614c07="" class="notice-domain-body">
					<div data-v-25614c07="" class="notice-domain-body-text">To visit our official website, be sure to
						use the link below, https://www.damangames.com/ Please remember! Make sure not provide personal
						data and personal transactions in any form and for any reason to other parties on behalf of
						DamanGames. Our side does not make private chats or calls to all members. Please inform all
						Referrals/other Members about this to avoid fraud. Thank you for your attention and cooperation.
					</div>
				</div><button data-v-25614c07=""><svg width="48" height="48" viewBox="0 0 48 48" fill="none"
						xmlns="http://www.w3.org/2000/svg" data-v-25614c07="">
						<path
							d="M16.8 27.2H9.59999V40.4C9.59999 42.3883 11.2117 44 13.2 44C15.1883 44 16.8 42.3883 16.8 40.4V27.2Z"
							fill="#F95959" data-v-25614c07=""></path>
						<path opacity="0.6" d="M19 12H9C7.3431 12 6 13.3431 6 15V25C6 26.6569 7.3431 28 9 28H20"
							fill="#F95959" data-v-25614c07=""></path>
						<path opacity="0.6" d="M34 14H36C39.3137 14 42 16.6863 42 20C42 23.3137 39.3137 26 36 26H34"
							fill="#F95959" data-v-25614c07=""></path>
						<path
							d="M33.7946 34C33.9081 34 34 33.9079 34 33.7943V6.20579C34 6.09214 33.9081 6 33.7946 6H30.3765C22.6575 6 16.4 12.2681 16.4 20C16.4 27.7319 22.6575 34 30.3765 34H33.7946Z"
							fill="#F95959" data-v-25614c07=""></path>
						<circle cx="41" cy="7" r="6.5" fill="#FA5B5B" stroke="white" data-v-25614c07=""></circle>
					</svg>
					<div data-v-d6fe61e8="" data-v-25614c07="" class="point point-flicker"></div>
				</button>
			</div>
			<div data-v-7610f773="" class="gameScenes-daman">
				<div data-v-7610f773="" class="game-menu" id="sourceDiv">
					<div data-v-7610f773="" class="row space" >
						<!-- onclick="window.location='/win/5'" -->

						<div data-v-7610f773="" class="row-item" ><img data-v-7610f773="" class="game_image" alt=""
								data-origin="https://ossimg.envyenvelope.com/daman/gamecategory/gamecategory_20230808033144p7ku.png"
								src="https://ossimg.envyenvelope.com/daman/gamecategory/gamecategory_20230808033144p7ku.png"><img
								data-v-7610f773="" class="game_bg" alt="" data-origin="/assets/popular-044514e1.png"
								src="/assets/popular-044514e1.png">
							<div data-v-7610f773="" class="game_text">Popular</div>
						</div>
						<div data-v-7610f773="" class="row-item"><img data-v-7610f773="" class="game_image" alt=""
								data-origin="https://ossimg.envyenvelope.com/daman/gamecategory/gamecategory_20230808033229fnxm.png"
								src="https://ossimg.envyenvelope.com/daman/gamecategory/gamecategory_20230808033229fnxm.png"><img
								data-v-7610f773="" class="game_bg" alt="" data-origin="/assets/lottery-c0a9176b.png"
								src="/assets/lottery-c0a9176b.png">
							<div data-v-7610f773="" class="game_text">Lottery</div>
						</div>
					</div>
					<div data-v-7610f773="" class="row wrap">
						<div data-v-7610f773="" class="row-item row-small game_video"><img data-v-7610f773=""
								class="game_image" alt=""
								data-origin="https://ossimg.envyenvelope.com/daman/gamecategory/gamecategory_20230808033212hjyp.png"
								src="https://ossimg.envyenvelope.com/daman/gamecategory/gamecategory_20230808033212hjyp.png"><img
								data-v-7610f773="" class="game_bg" alt="" data-origin="/assets/video-c9dce622.png"
								src="/assets/video-c9dce622.png">
							<div data-v-7610f773="" class="game_text">Casino</div>
						</div>
						<div data-v-7610f773="" class="row-item row-small game_slot"><img data-v-7610f773=""
								class="game_image" alt=""
								data-origin="https://ossimg.envyenvelope.com/daman/gamecategory/gamecategory_20230808033235m4rf.png"
								src="https://ossimg.envyenvelope.com/daman/gamecategory/gamecategory_20230808033235m4rf.png"><img
								data-v-7610f773="" class="game_bg" alt="" data-origin="/assets/slot-bf07af03.png"
								src="/assets/slot-bf07af03.png">
							<div data-v-7610f773="" class="game_text">Slots</div>
						</div>
						<div data-v-7610f773="" class="row-item row-small game_sport"><img data-v-7610f773=""
								class="game_image" alt=""
								data-origin="https://ossimg.envyenvelope.com/daman/gamecategory/gamecategory_202308080332222mkk.png"
								src="https://ossimg.envyenvelope.com/daman/gamecategory/gamecategory_202308080332222mkk.png"><img
								data-v-7610f773="" class="game_bg" alt="" data-origin="/assets/sport-ac79bf87.png"
								src="/assets/sport-ac79bf87.png">
							<div data-v-7610f773="" class="game_text">Sports</div>
						</div>
						<div data-v-7610f773="" class="row-item row-small game_chess"><img data-v-7610f773=""
								class="game_image" alt=""
								data-origin="https://ossimg.envyenvelope.com/daman/gamecategory/gamecategory_20230808033217ktru.png"
								src="https://ossimg.envyenvelope.com/daman/gamecategory/gamecategory_20230808033217ktru.png"><img
								data-v-7610f773="" class="game_bg" alt="" data-origin="/assets/chess-9c4d1dff.png"
								src="/assets/chess-9c4d1dff.png">
							<div data-v-7610f773="" class="game_text">Rummy</div>
						</div>
						<div data-v-7610f773="" class="row-item row-small game_fish"><img data-v-7610f773=""
								class="game_image" alt=""
								data-origin="https://ossimg.envyenvelope.com/daman/gamecategory/gamecategory_20230808033155j3tg.png"
								src="https://ossimg.envyenvelope.com/daman/gamecategory/gamecategory_20230808033155j3tg.png"><img
								data-v-7610f773="" class="game_bg" alt="" data-origin="/assets/fish-a70df76d.png"
								src="/assets/fish-a70df76d.png">
							<div data-v-7610f773="" class="game_text">Fishing</div>
						</div>
						<div data-v-7610f773="" class="row-item row-small game_flash"><img data-v-7610f773=""
								class="game_image" alt=""
								data-origin="https://ossimg.envyenvelope.com/daman/gamecategory/gamecategory_20230808033149kb46.png"
								src="https://ossimg.envyenvelope.com/daman/gamecategory/gamecategory_20230808033149kb46.png"><img
								data-v-7610f773="" class="game_bg" alt="" data-origin="/assets/flash-eac62fa4.png"
								src="/assets/flash-eac62fa4.png">
							<div data-v-7610f773="" class="game_text">Original</div>
						</div>
					</div>
				</div><!---->
				<div data-v-7610f773="" class="game-content" id="gameList" >
					<div data-v-7610f773="" class="game-list" >
						<div data-v-7610f773="" class="">
							<div data-v-154f7bd7="" data-v-7610f773="" class="daman-title daman-line">
								<div data-v-154f7bd7="" class="daman-title-left"><span data-v-0ea08bd2=""
										data-v-154f7bd7="" class="cms-icon" style="font-size: 24px; display: none;"><svg
											data-v-0ea08bd2="" aria-hidden="true">
											<use data-v-0ea08bd2="" href="#cms-icon-hot" fill=""></use>
										</svg></span><span data-v-154f7bd7="">Lottery</span></div>
								<div data-v-154f7bd7="" class="btn-all">
									<p data-v-154f7bd7="">All</p><span data-v-154f7bd7="">4</span><svg
										data-v-154f7bd7="" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
										viewBox="0 0 24 24" fill="none">
										<path data-v-154f7bd7="" fill-rule="evenodd" clip-rule="evenodd"
											d="M8.5064 19.541C7.99993 19.9904 7.2002 19.6308 7.2002 18.9537C7.2002 18.7288 7.29666 18.5147 7.46512 18.3657L14.6731 11.9896C14.7178 11.95 14.7181 11.8804 14.6738 11.8404L7.45763 5.33217C7.29374 5.18437 7.2002 4.97403 7.2002 4.75334C7.2002 4.078 8.00051 3.72221 8.50188 4.17465L15.8798 10.8325L16.2562 11.1964C16.6628 11.5895 16.6628 12.2412 16.2562 12.6343L15.8798 12.9982L8.5064 19.541Z"
											fill="#666666"></path>
									</svg>
								</div>
							</div><!---->
							<div data-v-5e46c66d="" class="daman-lottery">
								<div data-v-5e46c66d="" class="daman_img" onclick="location.href='/win'">
									<h3 data-v-5e46c66d="">Win Go</h3><img data-v-5e46c66d="" alt="" class=""
										data-origin="https://ossimg.envyenvelope.com/daman/lotterycategory/lotterycategory_20240123160120h4kw.png"
										src="https://ossimg.envyenvelope.com/daman/lotterycategory/lotterycategory_20240123160120h4kw.png">
									<div data-v-5e46c66d="" class="daman-btn"><span data-v-5e46c66d="">GO</span> <span
											data-v-0ea08bd2="" data-v-5e46c66d="" class="cms-icon"
											style="font-size: 16px;"><svg data-v-0ea08bd2="" aria-hidden="true">
												<use data-v-0ea08bd2="" href="#cms-icon-arrow-right" fill=""></use>
											</svg></span></div>
								</div>
								<div data-v-5e46c66d="" class="daman_img" onclick="location.href='/k3'">
									<h3 data-v-5e46c66d="">K3</h3><img data-v-5e46c66d="" alt="" class=""
										data-origin="https://ossimg.envyenvelope.com/daman/lotterycategory/lotterycategory_20240123160129bev8.png"
										src="https://ossimg.envyenvelope.com/daman/lotterycategory/lotterycategory_20240123160129bev8.png">
									<div data-v-5e46c66d="" class="daman-btn"><span data-v-5e46c66d="">GO</span> <span
											data-v-0ea08bd2="" data-v-5e46c66d="" class="cms-icon"
											style="font-size: 16px;"><svg data-v-0ea08bd2="" aria-hidden="true">
												<use data-v-0ea08bd2="" href="#cms-icon-arrow-right" fill=""></use>
											</svg></span></div>
								</div>
								<div data-v-5e46c66d="" class="daman_img" onclick="location.href='/5d'">
									<h3 data-v-5e46c66d="">5D</h3><img data-v-5e46c66d="" alt="" class="ar-lazyload"
										data-origin="https://ossimg.envyenvelope.com/daman/lotterycategory/lotterycategory_20240123160137lok5.png"
										src="https://ossimg.envyenvelope.com/daman/lotterycategory/lotterycategory_20240123160137lok5.png">
									<div data-v-5e46c66d="" class="daman-btn"><span data-v-5e46c66d="">GO</span> <span
											data-v-0ea08bd2="" data-v-5e46c66d="" class="cms-icon"
											style="font-size: 16px;"><svg data-v-0ea08bd2="" aria-hidden="true">
												<use data-v-0ea08bd2="" href="#cms-icon-arrow-right" fill=""></use>
											</svg></span></div>
								</div>
								<div data-v-5e46c66d="" class="daman_img">
									<h3 data-v-5e46c66d="">Trx Win Go</h3><img data-v-5e46c66d="" alt=""
										class="ar-lazyload"
										data-origin="https://ossimg.envyenvelope.com/daman/lotterycategory/lotterycategory_202401231601472sqb.png"
										src="https://ossimg.envyenvelope.com/daman/lotterycategory/lotterycategory_202401231601472sqb.png">
									<div data-v-5e46c66d="" class="daman-btn"><span data-v-5e46c66d="">GO</span> <span
											data-v-0ea08bd2="" data-v-5e46c66d="" class="cms-icon"
											style="font-size: 16px;"><svg data-v-0ea08bd2="" aria-hidden="true">
												<use data-v-0ea08bd2="" href="#cms-icon-arrow-right" fill=""></use>
											</svg></span></div>
								</div>
							</div>
							<div data-v-1db28470="" data-v-5e46c66d="" class="daman-dragon"><img data-v-1db28470=""
									class="daman-dragon-image" src="/assets/dragon-9eecda27.png" alt="">
								<div data-v-1db28470="" class="daman-dragon-right">
									<h3 data-v-1db28470="">Win Go Dragon assistant</h3>
									<p data-v-1db28470="">Five draws in a row with the same result</p>
									<div data-v-1db28470="" class="daman-dragon-btn">Enter</div>
								</div>
							</div><!----><!---->
						</div>




					


<div data-v-7610f773="" class="">
	<div data-v-154f7bd7="" data-v-7610f773="" class="daman-title daman-line">
		<div data-v-154f7bd7="" class="daman-title-left"><span data-v-0ea08bd2="" data-v-154f7bd7="" class="cms-icon"
				style="font-size: 24px; display: none;"><svg data-v-0ea08bd2="" aria-hidden="true">
					<use data-v-0ea08bd2="" href="#cms-icon-hot" fill=""></use>
				</svg></span><span data-v-154f7bd7="">Original</span></div>
		<div data-v-154f7bd7="" class="btn-all">
			<p data-v-154f7bd7="">All</p><span data-v-154f7bd7="">28</span><svg data-v-154f7bd7=""
				xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
				<path data-v-154f7bd7="" fill-rule="evenodd" clip-rule="evenodd"
					d="M8.5064 19.541C7.99993 19.9904 7.2002 19.6308 7.2002 18.9537C7.2002 18.7288 7.29666 18.5147 7.46512 18.3657L14.6731 11.9896C14.7178 11.95 14.7181 11.8804 14.6738 11.8404L7.45763 5.33217C7.29374 5.18437 7.2002 4.97403 7.2002 4.75334C7.2002 4.078 8.00051 3.72221 8.50188 4.17465L15.8798 10.8325L16.2562 11.1964C16.6628 11.5895 16.6628 12.2412 16.2562 12.6343L15.8798 12.9982L8.5064 19.541Z"
					fill="#666666"></path>
			</svg>
		</div>
	</div><!----><!---->
	<div data-v-e7422a36="" data-v-7610f773="" class="daman__container allGame">
		<div data-v-e7422a36="" class="item"><img data-v-e7422a36="" class="gameImg"
				data-origin="https://ossimg.envyenvelope.com/daman/gamelogo/TB_Chess/800.png"
				src="https://ossimg.envyenvelope.com/daman/gamelogo/TB_Chess/800.png"><!----><!----></div>
		<div data-v-e7422a36="" class="item"><img data-v-e7422a36="" class="gameImg"
				data-origin="https://ossimg.envyenvelope.com/daman/gamelogo/TB_Chess/103_20240330120250875.png"
				src="https://ossimg.envyenvelope.com/daman/gamelogo/TB_Chess/103_20240330120250875.png"><!----><!---->
		</div>
		<div data-v-e7422a36="" class="item"><img data-v-e7422a36="" class="gameImg"
				data-origin="https://ossimg.envyenvelope.com/daman/gamelogo/TB_Chess/110_20240330120322752.png"
				src="https://ossimg.envyenvelope.com/daman/gamelogo/TB_Chess/110_20240330120322752.png"><!----><!---->
		</div>
		<div data-v-e7422a36="" class="item"><img data-v-e7422a36="" class="gameImg"
				data-origin="https://ossimg.envyenvelope.com/daman/gamelogo/SPRIBE/22001.png"
				src="https://ossimg.envyenvelope.com/daman/gamelogo/SPRIBE/22001.png"><!----><!----></div>
		<div data-v-e7422a36="" class="item"><img data-v-e7422a36="" class="gameImg"
				data-origin="https://ossimg.envyenvelope.com/daman/gamelogo/SPRIBE/22004.png"
				src="https://ossimg.envyenvelope.com/daman/gamelogo/SPRIBE/22004.png"><!----><!----></div>
		<div data-v-e7422a36="" class="item"><img data-v-e7422a36="" class="gameImg"
				data-origin="https://ossimg.envyenvelope.com/daman/gamelogo/JILI/235.png"
				src="https://ossimg.envyenvelope.com/daman/gamelogo/JILI/235.png"><!----><!----></div>
	</div><!---->
</div>





<div data-v-7610f773="" class="">
	<div data-v-154f7bd7="" data-v-7610f773="" class="daman-title">
		<div data-v-154f7bd7="" class="daman-title-left"><span data-v-0ea08bd2="" data-v-154f7bd7="" class="cms-icon"
				style="font-size: 24px;"><svg data-v-0ea08bd2="" aria-hidden="true">
					<use data-v-0ea08bd2="" href="#cms-icon-hot" fill=""></use>
				</svg></span><span data-v-154f7bd7="">Platform recommendation</span></div>
		<div data-v-154f7bd7="" class="btn-all">
			<p data-v-154f7bd7="">All</p><span data-v-154f7bd7="">6</span><svg data-v-154f7bd7=""
				xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
				<path data-v-154f7bd7="" fill-rule="evenodd" clip-rule="evenodd"
					d="M8.5064 19.541C7.99993 19.9904 7.2002 19.6308 7.2002 18.9537C7.2002 18.7288 7.29666 18.5147 7.46512 18.3657L14.6731 11.9896C14.7178 11.95 14.7181 11.8804 14.6738 11.8404L7.45763 5.33217C7.29374 5.18437 7.2002 4.97403 7.2002 4.75334C7.2002 4.078 8.00051 3.72221 8.50188 4.17465L15.8798 10.8325L16.2562 11.1964C16.6628 11.5895 16.6628 12.2412 16.2562 12.6343L15.8798 12.9982L8.5064 19.541Z"
					fill="#666666"></path>
			</svg>
		</div>
	</div>
	<div data-v-e7422a36="" data-v-7610f773="" class="daman__container allGame">
		<div data-v-e7422a36="" class="item"><img data-v-e7422a36="" class="gameImg"
				data-origin="https://ossimg.envyenvelope.com/daman/gamelogo/TB_Chess/800.png"
				src="https://ossimg.envyenvelope.com/daman/gamelogo/TB_Chess/800.png"><!---->
			<div data-v-e7422a36="" class="game-odd"><span data-v-e7422a36="">odds of winning</span><span
					data-v-e7422a36="">82.83%</span>
				<div data-v-e7422a36="" class="win-p" style="width: 82.83%;"></div>
			</div>
		</div>
		<div data-v-e7422a36="" class="item"><img data-v-e7422a36="" class="gameImg"
				data-origin="https://ossimg.envyenvelope.com/daman/gamelogo/JDB/7006.png"
				src="https://ossimg.envyenvelope.com/daman/gamelogo/JDB/7006.png"><!---->
			<div data-v-e7422a36="" class="game-odd"><span data-v-e7422a36="">odds of winning</span><span
					data-v-e7422a36="">83.96%</span>
				<div data-v-e7422a36="" class="win-p" style="width: 83.96%;"></div>
			</div>
		</div>
		<div data-v-e7422a36="" class="item"><img data-v-e7422a36="" class="gameImg"
				data-origin="https://ossimg.envyenvelope.com/daman/gamelogo/EVO_Electronic/harlecoin0000000.png"
				src="https://ossimg.envyenvelope.com/daman/gamelogo/EVO_Electronic/harlecoin0000000.png"><!---->
			<div data-v-e7422a36="" class="game-odd"><span data-v-e7422a36="">odds of winning</span><span
					data-v-e7422a36="">82.57%</span>
				<div data-v-e7422a36="" class="win-p" style="width: 82.57%;"></div>
			</div>
		</div>
		<div data-v-e7422a36="" class="item"><img data-v-e7422a36="" class="gameImg"
				data-origin="https://ossimg.envyenvelope.com/daman/gamelogo/EVO_Electronic/kitchendrqfrenzy.png"
				src="https://ossimg.envyenvelope.com/daman/gamelogo/EVO_Electronic/kitchendrqfrenzy.png"><!---->
			<div data-v-e7422a36="" class="game-odd"><span data-v-e7422a36="">odds of winning</span><span
					data-v-e7422a36="">84.3%</span>
				<div data-v-e7422a36="" class="win-p" style="width: 84.3%;"></div>
			</div>
		</div>
		<div data-v-e7422a36="" class="item"><img data-v-e7422a36="" class="gameImg"
				data-origin="https://ossimg.envyenvelope.com/daman/gamelogo/EVO_Electronic/warofgods0000000.png"
				src="https://ossimg.envyenvelope.com/daman/gamelogo/EVO_Electronic/warofgods0000000.png"><!---->
			<div data-v-e7422a36="" class="game-odd"><span data-v-e7422a36="">odds of winning</span><span
					data-v-e7422a36="">87.03%</span>
				<div data-v-e7422a36="" class="win-p" style="width: 87.03%;"></div>
			</div>
		</div>
		<div data-v-e7422a36="" class="item"><img data-v-e7422a36="" class="gameImg"
				data-origin="https://ossimg.envyenvelope.com/daman/gamelogo/V8Card/8910.png"
				src="https://ossimg.envyenvelope.com/daman/gamelogo/V8Card/8910.png"><!---->
			<div data-v-e7422a36="" class="game-odd"><span data-v-e7422a36="">odds of winning</span><span
					data-v-e7422a36="">85.84%</span>
				<div data-v-e7422a36="" class="win-p" style="width: 85.84%;"></div>
			</div>
		</div>
	</div><!----><!----><!---->
</div>





<div data-v-7610f773="" class="">
	<div data-v-154f7bd7="" data-v-7610f773="" class="daman-title daman-line">
		<div data-v-154f7bd7="" class="daman-title-left"><span data-v-0ea08bd2="" data-v-154f7bd7="" class="cms-icon"
				style="font-size: 24px; display: none;"><svg data-v-0ea08bd2="" aria-hidden="true">
					<use data-v-0ea08bd2="" href="#cms-icon-hot" fill=""></use>
				</svg></span><span data-v-154f7bd7="">Slots</span></div>
		<div data-v-154f7bd7="" class="btn-all">
			<p data-v-154f7bd7="">All</p><span data-v-154f7bd7="">7</span><svg data-v-154f7bd7=""
				xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
				<path data-v-154f7bd7="" fill-rule="evenodd" clip-rule="evenodd"
					d="M8.5064 19.541C7.99993 19.9904 7.2002 19.6308 7.2002 18.9537C7.2002 18.7288 7.29666 18.5147 7.46512 18.3657L14.6731 11.9896C14.7178 11.95 14.7181 11.8804 14.6738 11.8404L7.45763 5.33217C7.29374 5.18437 7.2002 4.97403 7.2002 4.75334C7.2002 4.078 8.00051 3.72221 8.50188 4.17465L15.8798 10.8325L16.2562 11.1964C16.6628 11.5895 16.6628 12.2412 16.2562 12.6343L15.8798 12.9982L8.5064 19.541Z"
					fill="#666666"></path>
			</svg>
		</div>
	</div><!----><!----><!---->
	<div data-v-c32b0a59="" data-v-7610f773="" class="daman__container allGame">
		<div data-v-c32b0a59="" class="item"><img data-v-c32b0a59="" class="gameImg"
				data-origin="https://ossimg.envyenvelope.com/daman/vendorlogo/vendorlogo_2024011618151716a4.png"
				src="https://ossimg.envyenvelope.com/daman/vendorlogo/vendorlogo_2024011618151716a4.png"><!----><!---->
		</div>
		<div data-v-c32b0a59="" class="item"><img data-v-c32b0a59="" class="gameImg"
				data-origin="https://ossimg.envyenvelope.com/daman/vendorlogo/vendorlogo_202401161814358lat.png"
				src="https://ossimg.envyenvelope.com/daman/vendorlogo/vendorlogo_202401161814358lat.png"><!----><!---->
		</div>
		<div data-v-c32b0a59="" class="item"><img data-v-c32b0a59="" class="gameImg"
				data-origin="https://ossimg.envyenvelope.com/daman/vendorlogo/vendorlogo_20240116181633lq6j.png"
				src="https://ossimg.envyenvelope.com/daman/vendorlogo/vendorlogo_20240116181633lq6j.png"><!----><!---->
		</div>
		<div data-v-c32b0a59="" class="item"><img data-v-c32b0a59="" class="gameImg"
				data-origin="https://ossimg.envyenvelope.com/daman/vendorlogo/vendorlogo_20240116181623alci.png"
				src="https://ossimg.envyenvelope.com/daman/vendorlogo/vendorlogo_20240116181623alci.png"><!----><!---->
		</div>
		<div data-v-c32b0a59="" class="item"><img data-v-c32b0a59="" class="gameImg"
				data-origin="https://ossimg.envyenvelope.com/daman/vendorlogo/vendorlogo_20240116181611q84s.png"
				src="https://ossimg.envyenvelope.com/daman/vendorlogo/vendorlogo_20240116181611q84s.png"><!----><!---->
		</div>
		<div data-v-c32b0a59="" class="item"><img data-v-c32b0a59="" class="gameImg"
				data-origin="https://ossimg.envyenvelope.com/daman/vendorlogo/vendorlogo_20240116181455tg16.png"
				src="https://ossimg.envyenvelope.com/daman/vendorlogo/vendorlogo_20240116181455tg16.png"><!----><!---->
		</div>
	</div>
</div>

				
					</div>
				</div>
			</div>
			<div data-v-c4158cd5="" class="luckyWinners__container">
				<h1 data-v-c4158cd5="">Winning information</h1>
				<div data-v-c4158cd5="" class="luckyWinners__container-wrapper">
					<div data-v-c4158cd5="" style="position: relative;">
						<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item">
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-img"><img
									data-v-c4158cd5="" class="ar-lazyload"
									origin="https://damangames.in/assets/png/18-52955242.png" src="https://damangames.in/assets/png/18-52955242.png"
									></div>
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-info">
								<h1 data-v-c4158cd5="">Mem***JBN</h1>
							</div>
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-winType"><img
									data-v-c4158cd5="" class="ar-lazyload"
									data-origin="https://ossimg.envyenvelope.com/daman/vendorlogo/vendorlogo_2024011618151716a4.png">
							</div>
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-winAmount">
								<h1 data-v-c4158cd5="">Receive ₹510.00</h1><span data-v-c4158cd5="">Winning
									amount</span>
							</div>
						</div>
						<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item">
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-img"><img
									data-v-c4158cd5="" class="ar-lazyload"
									origin="https://damangames.in/assets/png/6-7c7f5203.png"
									 src="https://damangames.in/assets/png/6-7c7f5203.png"></div>
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-info">
								<h1 data-v-c4158cd5="">Mem***RDI</h1>
							</div>
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-winType"><img
									data-v-c4158cd5="" class="ar-lazyload"
									data-origin="https://ossimg.envyenvelope.com/daman/vendorlogo/vendorlogo_20240116181611q84s.png">
							</div>
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-winAmount">
								<h1 data-v-c4158cd5="">Receive ₹3,900.00</h1><span data-v-c4158cd5="">Winning
									amount</span>
							</div>
						</div>
						<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item">
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-img"><img
									data-v-c4158cd5="" class="ar-lazyload"
									
									origin="https://damangames.in/assets/png/11-925c456e.png"
									 src="https://damangames.in/assets/png/11-925c456e.png"></div>
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-info">
								<h1 data-v-c4158cd5="">Mem***WJM</h1>
							</div>
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-winType"><img
									data-v-c4158cd5="" class="ar-lazyload"
									data-origin="https://ossimg.envyenvelope.com/daman/lotterycategory/lotterycategory_20240123160137lok5.png">
							</div>
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-winAmount">
								<h1 data-v-c4158cd5="">Receive ₹194.04</h1><span data-v-c4158cd5="">Winning
									amount</span>
							</div>
						</div>
						<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item">
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-img"><img
									data-v-c4158cd5="" class="ar-lazyload"
									
									origin="https://damangames.in/assets/png/11-925c456e.png"
									 src="https://damangames.in/assets/png/11-925c456e.png"></div>
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-info">
								<h1 data-v-c4158cd5="">Mem***CVX</h1>
							</div>
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-winType"><img
									data-v-c4158cd5="" class="ar-lazyload"
									data-origin="https://ossimg.envyenvelope.com/daman/vendorlogo/vendorlogo_202401161815294l5u.png">
							</div>
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-winAmount">
								<h1 data-v-c4158cd5="">Receive ₹945.60</h1><span data-v-c4158cd5="">Winning
									amount</span>
							</div>
						</div>
						<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item">
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-img"><img
									data-v-c4158cd5="" class="ar-lazyload"
								
									origin="https://damangames.in/assets/png/10-29a6603e.png"
									 src="https://damangames.in/assets/png/10-29a6603e.png"
									></div>
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-info">
								<h1 data-v-c4158cd5="">Mem***GLT</h1>
							</div>
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-winType"><img
									data-v-c4158cd5="" class="ar-lazyload"
									data-origin="https://ossimg.envyenvelope.com/daman/vendorlogo/vendorlogo_202401161815398gx3.png">
							</div>
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-winAmount">
								<h1 data-v-c4158cd5="">Receive ₹156.00</h1><span data-v-c4158cd5="">Winning
									amount</span>
							</div>
						</div>
						<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item">
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-img"><img
									data-v-c4158cd5="" class="ar-lazyload"
									data-origin="https://damangames.in/assets/png/13-5676d43f.png"></div>
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-info">
								<h1 data-v-c4158cd5="">Mem***ZRQ</h1>
							</div>
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-winType"><img
									data-v-c4158cd5="" class="ar-lazyload"
									data-origin="https://ossimg.envyenvelope.com/daman/vendorlogo/vendorlogo_2024011618131578hn.png">
							</div>
							<div data-v-c4158cd5="" class="luckyWinners__container-wrapper__item-winAmount">
								<h1 data-v-c4158cd5="">Receive ₹1,900.00</h1><span data-v-c4158cd5="">Winning
									amount</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div data-v-4d216f59="" class="dailyProfitRank">
				<h1 data-v-4d216f59="">Today's earnings chart</h1>
				<div data-v-4d216f59="" class="dailyProfitRank__content">
					<div data-v-4d216f59="" class="dailyProfitRank__content-topThree">
						<div data-v-4d216f59="" class="dailyProfitRank__content-topThree__item"
							style="order: 2; top: -45px;">
							<div data-v-4d216f59=""
								style="background: url(&quot;https://damangames.in/assets/png/border1-3b6518ec.png&quot;) center center / 100% 100% no-repeat;">
								<img data-v-4d216f59="" data-img="https://damangames.in/assets/png/avatar-ea3b8ee9.png" class=""
									data-origin="https://damangames.in/assets/png/7-00479cfa.png"
									src="https://damangames.in/assets/png/7-00479cfa.png"></div>
							<div data-v-4d216f59=""><img data-v-4d216f59="" class="ar-lazyload"
									data-origin="https://damangames.in/assets/png/crown1-3912fd85.png"
									src="https://damangames.in/assets/png/crown1-3912fd85.png"
									><img
									data-v-4d216f59="" class="ar-lazyload"
									data-origin="https://damangames.in/assets/png/place1-fe39c3f3.png"
									src="https://damangames.in/assets/png/place1-fe39c3f3.png"></div><span
								data-v-4d216f59="">Mem***FLT</span><span data-v-4d216f59="">₹17,530,240.00</span>
						</div>
						<div data-v-4d216f59="" class="dailyProfitRank__content-topThree__item"
							style="order: 1; top: -30px;">

							<div data-v-4d216f59=""
								style="background: url(&quot;https://damangames.in/assets/png/border1-3b6518ec.png&quot;) center center / 100% 100% no-repeat;">
								<img data-v-4d216f59="" data-img="https://damangames.in/assets/png/avatar-ea3b8ee9.png" class=""
									data-origin="https://damangames.in/assets/png/3-abfcc056.png"
									src="https://damangames.in/assets/png/3-abfcc056.png"></div>
							<div data-v-4d216f59=""><img data-v-4d216f59="" class="ar-lazyload"
									data-origin="https://damangames.in/assets/png/crown2-c8aced52.png"
									src="https://damangames.in/assets/png/crown2-c8aced52.png"><img
									data-v-4d216f59="" class="ar-lazyload"
									data-origin="https://damangames.in/assets/png/place2-8189be28.png"
									src="https://damangames.in/assets/png/crown2-c8aced52.png"
									></div><span
								data-v-4d216f59="">Mem***IWA</span><span data-v-4d216f59="">₹16,346,401.96</span>
						</div>
						<div data-v-4d216f59="" class="dailyProfitRank__content-topThree__item"
							style="order: 3; top: -30px;">
						
							<div data-v-4d216f59=""
								style="background: url(&quot;https://damangames.in/assets/png/border3-cfec4a7d.png&quot;) center center / 100% 100% no-repeat;">
								<img data-v-4d216f59="" data-img="https://damangames.in/assets/png/avatar-ea3b8ee9.png" class=""
									data-origin="https://damangames.in/assets/png/10-29a6603e.png"
									src="https://damangames.in/assets/png/10-29a6603e.png"></div>
					
									<div data-v-4d216f59=""><img data-v-4d216f59="" class=""
											data-origin="https://damangames.in/assets/png/crown3-2ca02146.png"
											src="https://damangames.in/assets/png/crown3-2ca02146.png"><img data-v-4d216f59="" class=""
											data-origin="https://damangames.in/assets/png/place3-d9b0be38.png"
											src="https://damangames.in/assets/png/place3-d9b0be38.png"></div>
									<span
								data-v-4d216f59="">Mem***IIH</span><span data-v-4d216f59="">₹7,232,400.00</span>
						</div>
					</div>
					<div data-v-4d216f59="" class="dailyProfitRank__content-list">
						<div data-v-4d216f59="" class="dailyProfitRank__content-list__item"><span data-v-4d216f59=""
								class="left-rank">4</span><img data-v-4d216f59=""
								origin="https://damangames.in/assets/png/11-925c456e.png"
								 src="https://damangames.in/assets/png/11-925c456e.png" class="ar-lazyload"
								><span data-v-4d216f59=""
								class="middle-name">Mem***UMF</span><span data-v-4d216f59=""
								class="right-box">₹5,816,923.28</span></div>
						<div data-v-4d216f59="" class="dailyProfitRank__content-list__item"><span data-v-4d216f59=""
								class="left-rank">5</span><img data-v-4d216f59=""
								class="ar-lazyload"
								origin="https://damangames.in/assets/png/11-925c456e.png"
									 src="https://damangames.in/assets/png/11-925c456e.png"><span data-v-4d216f59=""
								class="middle-name">Mem***OXB</span><span data-v-4d216f59=""
								class="right-box">₹4,327,680.00</span></div>
					</div>
				</div>
			</div>


	<div data-v-67fe8f9c="" class="tabbar__container" style="--76181987: 'Roboto', 'Inter', sans-serif;">
		<div data-v-67fe8f9c="" class="tabbar__container-item active"><svg data-v-67fe8f9c=""
				xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 46 44" class="" onclick="location.href='/home'" >
				<circle cx="27" cy="28" r="18" fill="#FFF4F4"></circle>
				<path fill="#FFCDCB" fill-rule="evenodd"
					d="m23.66 5.278-17.9 12.08v25.507h10.08v-10.44a5.04 5.04 0 0 1 5.04-5.04h6.36a5.04 5.04 0 0 1 5.04 5.04v4.38h-3.36v-4.38a1.68 1.68 0 0 0-1.68-1.68h-6.36a1.68 1.68 0 0 0-1.68 1.68v11.16a2.64 2.64 0 0 1-2.64 2.64H5.04a2.64 2.64 0 0 1-2.64-2.64v-26.61a2.64 2.64 0 0 1 1.163-2.188L22.437 2.05a2.16 2.16 0 0 1 2.382-.023L44.514 14.77a2.64 2.64 0 0 1 1.206 2.216v26.598a2.64 2.64 0 0 1-2.64 2.64H30.6v-3.36h11.76V17.379z"
					clip-rule="evenodd"></path>
				<path fill="#FFCDCB"
					d="M32.4 44.545a1.68 1.68 0 1 1-3.36 0 1.68 1.68 0 0 1 3.36 0M32.28 36.745a1.68 1.68 0 1 1-3.36 0 1.68 1.68 0 0 1 3.36 0">
				</path>
			</svg><!----><span data-v-67fe8f9c="">Home</span></div>
		<div data-v-67fe8f9c="" class="tabbar__container-item"><svg data-v-67fe8f9c=""
				xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 46 44" class="" onclick="location.href='/checkIn'" >
				<circle cx="27" cy="24" r="18" fill="#FFF4F4"></circle>
				<path fill="#FFCDCB" fill-rule="evenodd"
					d="M10.512 5.2h26.975a4.8 4.8 0 0 1 4.796 4.6l.51 12.2h3.203L45.48 9.666A8 8 0 0 0 37.489 2H10.511A8 8 0 0 0 2.52 9.666l-1.17 28A8 8 0 0 0 9.34 46h29.317a8 8 0 0 0 7.993-8.334L46.331 30h-3.203l.326 7.8a4.8 4.8 0 0 1-4.796 5H9.341a4.8 4.8 0 0 1-4.795-5l1.17-28a4.8 4.8 0 0 1 4.796-4.6"
					clip-rule="evenodd"></path>
				<path fill="#FFCDCB" fill-rule="evenodd"
					d="M13.92 16.64c.466 5.158 4.8 9.2 10.08 9.2 5.279 0 9.614-4.042 10.078-9.2h-3.522a6.621 6.621 0 0 1-13.113 0z"
					clip-rule="evenodd"></path>
				<path fill="#FFCDCB"
					d="M34.092 16.65a1.75 1.75 0 0 1-1.75 1.75c-.967 0-1.795-.784-1.795-1.75 0-.967.828-1.75 1.795-1.75.966 0 1.75.783 1.75 1.75M17.449 16.648c0 .966-.766 1.75-1.733 1.75-.966 0-1.795-.784-1.795-1.75 0-.967.829-1.75 1.795-1.75.967 0 1.733.783 1.733 1.75M46 22a1.6 1.6 0 1 1-3.2 0 1.6 1.6 0 0 1 3.2 0M46.33 30.044a1.6 1.6 0 1 1-3.2 0 1.6 1.6 0 0 1 3.2 0">
				</path>
			</svg><!----><span data-v-67fe8f9c="">Attendance</span></div>
		<div data-v-67fe8f9c="" class="tabbar__container-item"><svg data-v-67fe8f9c=""
				xmlns="http://www.w3.org/2000/svg" width="57" height="49" fill="none" viewBox="0 0 57 49" class="" onclick="location.href='/promotion'" >
				<path fill="#fff" fill-rule="evenodd"
					d="M8.939 1.501A4 4 0 0 1 12.062 0h32.155a4 4 0 0 1 3.124 1.501l7.738 9.673c.427.533.749 1.12.968 1.735H.233a5.99 5.99 0 0 1 .967-1.735zM0 16.091h56.28a5.985 5.985 0 0 1-1.277 2.673l-23.79 28.549a4 4 0 0 1-6.146 0l-23.79-28.55A5.984 5.984 0 0 1 0 16.092m20.556 5.936 7.195 10.102a.5.5 0 0 0 .816-.002l7.118-10.093a2.44 2.44 0 0 1 4.435 1.406v.2h-.223c-.326 0-.782.248-1.304.93-.506.663-6.466 8.724-9.651 13.035a.975.975 0 0 1-1.563.007L17.32 24.26s-.394-.62-1.06-.62h-.14v-.195a2.445 2.445 0 0 1 4.436-1.418"
					clip-rule="evenodd"></path>
			</svg>
			<div data-v-67fe8f9c="" class="promotionBg"></div><span data-v-67fe8f9c="">Promotion</span>
		</div>
		<div data-v-67fe8f9c="" class="tabbar__container-item"><svg data-v-67fe8f9c=""
				xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 46 44"
				class="wallet" onclick="location.href='/wallet'" >
				<circle cx="28" cy="24" r="18" fill="#FFF4F4"></circle>
				<path stroke="#FFCDCB" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.2"
					d="M3 23c0-5.984 3.526-10.164 9.009-10.868.559-.088 1.139-.132 1.741-.132h21.5c.559 0 1.096.022 1.612.11C42.41 12.77 46 16.972 46 23v11c0 6.6-4.3 11-10.75 11h-21.5C7.3 45 3 40.6 3 34v-2.178">
				</path>
				<path stroke="#FFCDCB" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.2"
					d="M46 23.724h-6.452c-2.366 0-4.301 1.862-4.301 4.138S37.182 32 39.548 32H46m-9-20c-.516-.083-1.194 0-1.753 0H14c-.602 0-1.44-.083-2 0 0 0 .731-.648 1.247-1.145l6.99-6.745A7.737 7.737 0 0 1 25.571 2c1.997 0 3.914.758 5.333 2.11l3.764 3.662C36.045 9.076 39.548 12 37 12">
				</path>
			</svg><!----><span data-v-67fe8f9c="">Wallet</span></div>
		<div data-v-67fe8f9c="" class="tabbar__container-item"><svg data-v-67fe8f9c=""
				xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 46 44" class="" onclick="location.href='/mian'" >
				<circle cx="28" cy="24" r="18" fill="#FFF4F4"></circle>
				<path fill="#FFCDCB" fill-rule="evenodd"
					d="M24.08 5.28C13.741 5.28 5.36 13.661 5.36 24c0 10.339 8.381 18.72 18.72 18.72 10.339 0 18.72-8.381 18.72-18.72v-8.76h3.36V24c0 12.194-9.886 22.08-22.08 22.08C11.886 46.08 2 36.195 2 24 2 11.806 11.886 1.92 24.08 1.92h20.28v3.36z"
					clip-rule="evenodd"></path>
				<path fill="#FFCDCB"
					d="M46.16 3.6a1.68 1.68 0 1 1-3.36 0 1.68 1.68 0 0 1 3.36 0M46.16 15.12a1.68 1.68 0 1 1-3.36 0 1.68 1.68 0 0 1 3.36 0">
				</path>
				<path fill="#FFCDCB" fill-rule="evenodd"
					d="M15.806 29.582a1.68 1.68 0 0 1 2.372.144c1.15 1.298 2.748 2.794 5.462 2.794 2.872 0 4.857-1.428 5.805-2.533a1.68 1.68 0 0 1 2.55 2.186c-1.451 1.695-4.314 3.707-8.355 3.707-4.198 0-6.647-2.424-7.977-3.926a1.68 1.68 0 0 1 .143-2.372"
					clip-rule="evenodd"></path>
			</svg><!----><span data-v-67fe8f9c="">Account</span></div>
	</div><!----><!----><!----><!----><!----><!----><!----><!----><!---->
</div>


		




   <!-- div scroller -->
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var sourceDiv = document.getElementById("sourceDiv");

        var targetDiv = document.getElementById("gameList");

        sourceDiv.addEventListener("click", function() {
            targetDiv.scrollIntoView({ behavior: "smooth" });
        });
    });
  </script>
    <script>
      let slideIndex = 0;
      showSlides();
    
      function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
          slideIndex = 1;
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 5000); // Change image every 5 seconds
      }
    </script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	  <script src="/js/client.js"></script>
	  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
	  <script src="/js/wingo1.js"></script>
</body>

</html>






